@import "../../../styles.scss";
.banner {
    width: 100%;
    margin: 0px;
    .m-75 {
        margin: 25px auto 10px;
        .btn-success {
            background-color: $review-mirchi-blue-hex;
            border-color: $review-mirchi-blue-hex;
        }
    }
}

.borderLine {
    height: 2px;
    width: 80%;
    margin: 0px auto;
    background-color: $review-mirchi-blue-hex;
    border-radius: 5px;
    margin-bottom: 25px;
}