@import "../../../styles.scss";
.quickFilter {
    width: 100%;
    margin: 0px;
    .m-20 {
        margin: 20px auto 25px;
    }
    button {
        background-color: $review-mirchi-blue-hex;
        color: $review-mirchi-white-hex;
        border: none;
    }
}